<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "./assets/css/main.css" | relative_url }}">
  </head>


  <body>
    <div class="contenidor-cursos">
      <div class="header-logo">
        <a href="{{ site.url }}"><img src="{{ site.siteimage }}" alt="{{ site.title }}" class=logo></a>
        <p>{{ page.index }}</p>
      </div>
      <div class="navegacio">
          {% for item in site.data.menu %}
            <div class=menu-item>
              <a href="{{ item.url }}">{{ item.pagina }}</a>
            </div>
          {% endfor %}
      </div>
    </div>
    <div class="courses-body-wrapper">
      <div class="learning-path">
        <div class="part">
          <div id="about">

            {{ content }}
              
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
    <div class="caixa-contate">
    <div class="footer-logo">
      <img id="logo-footer" src="{{ site.siteimage }}" alt="{{ site.title }}">  

      <div class="text-caixa-contacte" >
          {{ site.author }}
      </div>
      
      <div class="text-caixa-contacte">
            {{ site.email }}
      </div>
    </div>
    </div>
    </div> 


  </body>
</html>